.ovr_flo{
    overflow: hidden;
}
.sector{
    border-bottom: 2px solid #eee;
}

.description ul{
    list-style: none;
}


/* Computer Screen */
@media only screen and (max-width:1366px) and (min-width:900px)
{
 body{color:black;}
    .pro_pic{
      width: 16%;
      float: left;
    }
    
    .pro_pic img{
   
        border-radius: 80%;
        width: 94%;
    }
    
 
    .pro_title{
        width: 50%;
        float: left;
    }
    .Pro_address{
      width: 15%;
      float: right;
    }
    
        .title{
        width:35%;
        float: left;
    }
    
    .description{
        width: 60%;
        float: right;
    }
}


/* Tablet Screen */
@media only screen and (max-width:899px) and (min-width:600px)
{
 body{color:black;}
     .pro_pic{
      width: 50%;
      float: left;
     
    }
    
     .pro_pic img{
   
        border-radius: 80%;
        width: 94%;
    }

    .pro_title{
        width: 50%;
        float: left;
 
    }

    .Pro_address{
      width: 100%;
      overflow: hidden;
    }
    
    .title{
        width: 100%;
    }
    
    .description{
        width: 100%;
    }

}

/* Mobile Screen */
@media only screen and (max-width:599x) 
{
 body{color:black;}
    

    .pro_pic{
      width: 100%;
      float: left;
     
    }
    
 .pro_pic img{
   
        border-radius: 80%;
        
    }
    
    .pro_title{
        width: 100%;
        float: left;
 
    }

    .Pro_address{
      width: 100%;
    

    }
    
    .title{
        width: 100%;
    }
    
    .description{
        width: 100%;
    }
}

/* Printing Screen */
@media only print and (max-width:700px)
{
 body{color:red;}

}
